<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" [ngClass]="getState()">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ post.title}}</h5>
    <small>{{ post.createdDate | date:'short'}}</small>
  </div>
  <p class="mb-1">{{ post.content}}</p>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-success" (click)="increase()">Love It</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger" (click)="decrease()">Don't Love</button>
    </div>
  </div>
</a>
